
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">{{title1}}
                        <strong>{{title2}}</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive img-border-left" src="http://placehold.it/200x150" alt="">
                </div>
                <div class="col-md-9">
                    {{dummy1}}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>{{f1}}
                        <small>{{f2}}</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>{{f3}}
                        <small>{{f4}}</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>{{f5}}
                        <small>{{f6}}</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

 